
<%- include partials/header.ejs %>


  <div class="album-list">
    <h2>Records</h2>
    <% albums.forEach( album => { %>
      <div>
        <h5><a href="/albums/<%= album.title %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <div class='post-column'>
    <h2>Recent Reviews</h2>
    <% if (reviews[0].review_id) {
      reviews.forEach( review => { %>
        <div class='box blue-box'>
          <p> <a href="/albums/<%= review.title%>" > <%= review.title %> </a> </p>
          <p> <%= review.review_date %> </p>
          <p> <%= review.content %> </p>
          <p> by <a href="/profile/<%= review.username%>" > <%= review.username %> </a> </p>
        </div>
      <% })
    } else { %>
      <p class='box blue-box'> There are no reviews </p>
    <% } %>
  </div>

<%- include partials/footer.ejs %>
